{# Skills Section #}
<section class="skills">
    <div class="container">
        <h2>My <span class="highlight">Skills</span></h2>
        
        <div class="skills-grid">
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-java"></i></div>
                <p>Java</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-python"></i></div>
                <p>Python</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-angular"></i></div>
                <p>Angular</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-aws"></i></div>
                <p>AWS</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-git-alt"></i></div>
                <p>Git</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-gitlab"></i></div>
                <p>Gitlab</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fas fa-database"></i></div>
                <p>DynamoDB</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><img src="icon/terraform.svg" class="skill-icon-img" /></div>
                <p>Terraform</p>
            </div>
            <div class="skill-category">
                <div class="skill-icon"><i class="fab fa-docker"></i></div>
                <p>Docker</p>
            </div>
        </div>
        
        <div class="skills-list">
            <ul>
                <li>HTML, CSS, JavaScript, React, Angular</li>
                <li>Express, Node.js, Python</li>
                <li>MySQL, PostgreSQL, MongoDB</li>
                <li>Git, GitHub, AWS, Heroku</li>
                <li>Bootstrap, Tailwind, SASS, Material-UI</li>
            </ul>
        </div>
    </div>
</section>
