---
layout: base.njk
title: Home
---

{% include "components/hero/hero.njk" %}
{% include "components/services/services.njk" %}
{% include "components/experience/experience.njk" %}
{% include "components/skills/skills.njk" %}